<h1 class="text-center mt-4">Show</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
    <ul>
      <li>
        <%= @user.username%>
      </li>
      <li>
        <%= @user.email%>
      </li>
    </ul>
    </div>
  </div>
</div>
